.day {
  display: inline;
  text-align: center;
  color: rgb(87, 31, 43);
  border: 1px solid;
  border-color: rgb(87, 31, 43);
  border-radius: 4px;
  font-size: 18px;
  width: 90px;
  background-color: rgb(240, 248, 255, 0.4);
}

.forecastTemperature {
  font-size: 16px;
  font-weight: 100;
}

.weather-image {
  display: inline;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5);
}

.forecast {
  display: inline;
  margin-top: 30px;
  margin-bottom: 15px;
}

.forecast-row {
  margin-top: 50px;
  margin-bottom: 20px;
}
