.weather-today {
  display: block;
  text-align: center;
  color: rgb(31, 79, 87);
  border-radius: 4px;
  margin-top: 15px;
  width: fit-content;
  position: relative;
  z-index: 2;
}

.search-bar {
  margin-bottom: 5px;
}

.weatherIcon {
  display: block;
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 15px;
  color: rgba(0, 0, 0, 0.5);
}

.temperature {
  font-size: 30px;
  font-weight: 100;
}

.units {
  font-size: 10px;
  position: relative;
  top: -10px;
  right: 10px;
}

.weather-description {
  color: black;
  font-weight: 100;
  font-size: 12px;
}

.description {
  padding: 0px;
}

.city {
  font-weight: 200;
  padding-top: 10px;
}

.celsius {
  font-size: px;
  font-weight: 200;
}

.search-city {
  padding: 0px 0px 0px 30px;
}

.search-form {
  width: 200px;
  margin-top: 30px;
  margin-bottom: 15px;
  display: block;
  margin-left: 0px;
}

.search-button {
  display: inline;
  color: rgb(31, 79, 87);
  padding: 0px 7px 0px 7px;
  margin: 10px 5px 15px auto;
  height: 38px;
  width: fit-content;
  border: 1px solid;
  color: rgb(31, 79, 87);
  border-radius: 4px;
  background-color: rgb(240, 248, 255, 0.4);
}

.current-location {
  margin: 10px 0px 15px 20px;
}

.current-location-button {
  display: inline;
  color: rgb(31, 79, 87);
  height: 38px;
  border: 1px solid;
  padding: 0px 7px 0px 7px;
  margin-left: 10px;
  margin-bottom: 15px;
  color: rgb(31, 79, 87);
  border-radius: 4px;
  background-color: rgb(240, 248, 255, 0.4);
  width: max-content;
}
